<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Swag Trainer plugin</label>
    <label lang="en">Swag Trainer plugin</label>

    <version>1.0.0</version>
    <copyright>(c) by GPB</copyright>
    <license>MIT</license>
    <author>gpb</author>
    <compatibility minVersion="5.3.0"/>
    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>
</plugin>
